html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $white;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a, button, .btn, input {
  color: $teal-dark;
  text-decoration: none;
  transition: $transition;
}

.page {
  height: 100%;
}

.button {
  background-color: $teal-dark;
  border: none;
  display: inline-block;
  outline: none;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 40px;
  &:hover {
    background-color: darken($teal-dark, 5%);
  }
}

input[type=text], input[type=password] {
  color: #454749;
  outline: none;
  width: 98%;
  height: 30px;
  line-height: 30px;
  padding: 0 11px;
  border-radius: 3px;
  background-color: $gray-lighter;
  border: solid 1px $gray-light;
  margin-bottom: 8px;
  font-family: inherit;
  font-size: inherit;
  &:focus, &:active {
    border: 1px solid $teal-dark;
  }
  &.input--error {
    border: 1px solid $red;
  }
}

.page {
  background-color: $orange;
  transition: all 0.3s ease;
  &:before {
    display: block;
    transform: skew(-7deg);
    position: absolute;
    top: 0;
    left: -5%;
    width: 350px;
    content: "";
    font-size: 0;
    line-height: 0;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#467d7d+1,1a535c+100 */
    background: #467d7d; /* Old browsers */
    background: -moz-linear-gradient(left,  #467d7d 1%, #1a535c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #467d7d 1%,#1a535c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #467d7d 1%,#1a535c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467d7d', endColorstr='#1a535c',GradientType=1 ); /* IE6-9 */
    transition: all 0.6s ease;
  }
  &:after {
    background-image: radial-gradient(circle at 50% 48%, #3c818c, #1a535c);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
  }
  &.page--success {
    &:before {
      width: 110%;
    }
    .login {
      visibility: hidden;
      opacity: 0;
    }
  }
  &.page--informer {
    .informer {
      visibility: visible;
      opacity: 1;
    }
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
  &--login {
    &:before {
      width: 48%;
    }
  }
}

.main {
  padding-left: 350px;
}