<aside class="aside">
    <a href="" class="aside-logo">Cloud Finder</a>
    <nav class="aside-menu">
        <li class="aside-menu__item"><a href="javascript://">someawesomeemail@gmail.com</a></li>
        <li class="aside-menu__item"><a href="javascript://">add post</a></li>
        <li class="aside-menu__item"><a href="javascript://">popular posts</a></li>
        <li class="aside-menu__item"><a href="javascript://">bookmarks</a></li>
        <li class="aside-menu__item"><a href="javascript://" (click)="logout()">logout</a></li>
    </nav>
    <footer class="aside-footer">&copy; dev team 4 masters academy / 2017</footer>
</aside>