<div class="search-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <search-input></search-input>
            </div>
        </div>
    </div>
</div>
<div class="content search-content">
    <div class="container">
        <p class="search-state" *ngIf="availableResults > 0">Available results: {{ availableResults }}</p>
        <!--<p class="search-state">pager: {{ pager | json }}</p>-->
        <div class="search-results">
            <div *ngFor="let result of pagedItems" class="row col-md-8">
                <div class="search-result">
                    <a class="search-result__title" [routerLink]="['/post', result.id]">
                        <i class="fa" [ngClass]="{'fa-youtube-square':result.kind === 'youtube','fa-twitter-square':result.kind === 'twitter'}"></i>
                        <h2 >{{ result.title }}</h2>
                    </a>
                    <p class="search-result__description">{{ result.description || 'no description' }}</p>
                </div>
            </div>
        </div>
        <!-- pager -->
        <div class="row col-md-8">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" href="javascript://" (click)="setPage(1)">First</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" href="javascript://" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" href="javascript://" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" href="javascript://" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" href="javascript://" (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<section class="col-md-8">-->
        <!--<h1>{{title}}</h1>-->
        <!--<div class="row col-md-8">-->
            <!--<search-input [store]="store"></search-input>-->
            <!--<proximity-selector [store]="store" [disabled]="disableSearch || errorLocation"-->
            <!--[ngClass]="{ disabled: disableSearch }"></proximity-selector>-->
        <!--</div>-->
        <!--<div class="row col-md-8 alert alert-danger" *ngIf="errorEmptySearch">-->
        <!--<p>Can't use geolocalization with an empty searchbox</p>-->
        <!--</div>-->
        <!--<div class="row col-md-8 alert alert-warning" *ngIf="errorLocation">-->
        <!--<p>{{ errorLocationMessage }}</p>-->
        <!--</div>-->
        <!--<div class="row col-md-8">-->
            <!--<p>-->
                <!--Try to type something in the searchbox, play with the location and with radius: the above state will-->
                <!--always be consistent and up to date.-->
            <!--</p>-->
            <!--<p class="state">{{ state | json }}</p>-->
            <!--<p class="state" *ngIf="disableSearch">state is empty</p>-->
            <!--<h2 *ngIf="!disableSearch">Search results:</h2>-->
        <!--</div>-->
        <!--<div class="row col-md-8">-->
            <!--<h2 *ngIf="disableSearch || searchResults.length == 0">No results</h2>-->
        <!--</div>-->
        <!--<div class="row col-md-8">-->
            <!--<div *ngFor="let result of searchResults" class="thumbnail col-sm-6 col-md-4">-->
                <!--<div class="caption">-->
                    <!--<h3>{{ result.title }}</h3>-->
                <!--</div>-->
                <!--<img src="{{ result.thumbnailUrl }}" />-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->