<div class="post-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="post-title">{{post.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="content search-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="post-content">
                    <div *ngIf="youtubeVideoId">
                        <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                width="640" height="390" [src]="youtubeVideoId | safe"
                                frameborder="0" allowFullScreen>
                        </iframe>
                    </div>
                    <div *ngIf="tweet">
                        {{tweet}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="post-actions">
                    <a
                        class="post-actions__bookmark"
                        [ngClass]="{'post-actions__bookmark--active':isInBookmark}"
                        href="javascript://"
                        (click)="bookmark()
                    ">
                        <i class="fa fa-star"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="post-data">
            <p>{{post.description}}</p>
        </div>
        <!--<div class="post-comments"></div>-->
    </div>
</div>